@import "bootstrap-3.3.6/css/bootstrap.min.css";

.generic-title {
    font: {
        family: 'Amatic SC', cursive;
        size: 4rem;
    }
    cursor: default;
}

.generic-text {
    font: {
        family: 'Loved by the King', cursive;
        size: 3rem;
    }
}

.lined-paper {
    background: {
        color: #fff;
        size: 100% 1.2em;
        image:
                linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
                linear-gradient(#eee .1em, transparent .1em);
    }
}

.recipe-box {
    @extend .lined-paper;
    margin: auto;
    h2 {
        @extend .generic-title;
        text-align: center;
        font-size: 6rem;
    }
}

.recipe {
    @extend .generic-text;
    margin: 10px;
    .row {
        margin: 3px;
        padding: 3px 50px;
    }
    .recipe-title {
        @extend .generic-title;
        color: darkred;
        display: inline-block;
        &:hover {
            cursor: pointer;
        }

    }
    .recipe-ingredients-list {
        ul {
            list-style: {
                type: none;
                position: outside;
            }
            li {
                margin-left: -0.5rem;
            }
        }
    }
    .icon {
        size: 4rem;
        margin: auto 15px;
        &:hover {
            cursor: pointer;
        }
    }
    .form-control {
        font-size: 3rem;
    }
    .help-block {
        font-size: 2.5rem;
    }
}

.title-input {
    max-width: 40%;
    display: inline-block;
}
